# Ignore node_modules
node_modules/

# Ignore build output
dist/
build/

# Ignore environment variables
.env

# Ignore logs
*.log

# Ignore system files
.DS_Store

# Ignore database files (if any)
*.sqlite
*.db

# Ignore coverage reports
coverage/

*.js
*.js.map
# package-lock.json
# yarn.lock
